<!DOCTYPE html>
<html lang="en">

<head>
    <title>MathSpace! User</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">
    <section class="primary-color-bg">
        <div class="container">
            <div class="centered-container">
                <h1>Game code: <%= settingsId %>  </h1>
            </div>

            <div class="centered-container">
                <h2>Settings:</h2>
                <% for(let task of settings){ %>
                    <div>
                        <a style="color: #ff0f0f">Task description : <%= task.setting_desc %></a>
                        <!-- <a class="btn" href="/gamecode/editsetting/<%= task.setting_id %>">Edit</a> -->
                        <button class="btn" onclick="remove(<%= task.setting_id %>)">X</button>
                    </div>
                <% } %>

                <br/>
                <hr/>
                <a class="btn" href="/gamecode/createNewRelativeNumberTask">Create new relative number task</a>
                <a class="btn" href="/gamecode/createNewUnrelativeNumberTask">Create new unrelative number task</a>
                <br/>
                <br/>
                <a class="btn" href="/gamecode/createNewShapeTask">Create new shape task</a>
                <a class="btn" href="/gamecode/createNewWordsTask">Create new words task</a>
            </div>

            <br/>
            <hr/>
            <div class="centered-container">
                <h2>Results:</h2>
                <table style="border-spacing: 20px;">
                    <tr>
                        <th>Player</th>
                        <th>Time</th>
                        <th>Highscore</th>
                        <th>More</th>
                    </tr>
                    <% for(let rezultat of results){ %>
                        <tr>
                            <td><%= rezultat.player_nickname %></td>
                            <td><%= rezultat.time %></td>
                            <td><%= rezultat.highscore %></td>
                            <td><a class="btn link" href="/gamecode/display/details/<%= rezultat.result_id %>">See
                                    details</a></td>
                        </tr>
                    <% } %>
                </table>

            </div>

        </div>
    </section>
</main>

<%- include(`partials/footer`); %>

</body>

</html>

<script>
    function remove(id) {
        if (confirm("Are you sure you want to delete game with game code: " + id)) {
            window.location.href = "/gamecode/remove/" + id;
        }
    }
</script>
